body{
    display: flex;
    height: 100dvh;
    flex-direction: column;
}

.mobile-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 15px;
}

.mobile-header-content h1 {
  font-size: 22px;
  color: #fff;
  margin: 0;
}

.mobile-menu-toggle,
.mobile-menu-close {
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  background: none;
  border: none;
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  padding: 20px;
  top: 0;
  right: -100%;
  width: 65%;
  height: 100dvh;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 0 0 0 20px;
  z-index: 9999;
  transition: right 0.3s ease;
}

.mobile-header.open .mobile-nav {
  right: 0;
}

.mobile-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile-nav li {
  margin-bottom: 20px;
}

.mobile-nav a {
  color: #fff;
  text-decoration: none;
  font-size: 26px;
}

.mobile-nav .social-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-nav .social-links a {
  font-size: 22px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  z-index: 9998;
}

.mobile-header.open .overlay {
  opacity: 1;
  pointer-events: auto;
}
