/* MAIN CODE */
@import url("https://fonts.googleapis.com/css2?family=Jersey+15&display=swap");

* {
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior:smooth;
}
body {
  font-family: "Jersey 15", serif;
  font-size: 15px;
  background-color: white;
  background-image: url("main-background.webp");
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
a,
span {
  outline: none;
  text-decoration: none;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  /* Disable blue highlight on mobile */
}

a:focus,
a:active {
  outline: none;
  box-shadow: none;
}

a:hover {
  text-decoration: none;
}
.transition {
  transition: transform 0.3s;
}
.transition-header {
  transition: transform 0.3s;
}

/* ANIMATIONS */
@keyframes image-scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes border-scale {
  0% {
    border-radius: 0px 0px 30px 30px;
  }
  50% {
    border-radius: 0px 0px 0px 0px;
  }
  100% {
    border-radius: 0px 0px 20px 20px;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 14ch;
  }
}
@keyframes blinking {
  50% {
    border-right: transparent;
  }
}
@keyframes rotatebutton {
  0%,40%,100%{
    transform: rotateZ(0);
  }
  20%{
    transform: rotateZ(20deg);
  }
  60%{
    transform: rotateZ(-20deg);
  }
}
@keyframes upbutton {
  0%,40%,100%{
    transform: translateY(0);
  }
  20%{
    transform: translateY(-20%);
  }
  60%{
    transform: translateY(-10%);
  }
}
@keyframes appearLeft {
  from {
    opacity: 0;
    transform: translateX(-200%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes appearRight {
  from {
    opacity: 0;
    transform: translateX(200%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes appearUp {
  from {
    opacity: 0;
    transform: translateY(200%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes appearDown {
  from {
    opacity: 0;
    transform: translateY(-200%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
.appear-left {
  animation: appearLeft 1s ease;
}
.appear-right {
  animation: appearRight 1s ease;
}
.appear-up {
  animation: appearUp 1s ease;
}
.appear-down {
  animation: appearDown 1s ease;
}
.typing-animation{
  overflow: hidden;
  white-space: nowrap;
  color: white;
  width: 0;
  animation: typing 1s ease-in forwards;
}
/* header */
.desktop-header {
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 100%;
  top: 0;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}
.desktop-header li {
  color: white;
  list-style: none;
  margin: 5px;
  padding: 3px;
  font-size: 20px;
}
.desktop-header li:first-child {
  margin-right: auto;
}
.desktop-header li:hover {
  transform: scale(1.1);
  border-radius: 10px;
}
.desktop-header a:active {
  transform: scale(1.1);
}
.desktop-header span {
  font-size: 30px;
}

.mobile-header {
  position: fixed;
  width: 100%;
  z-index: 10;
  height: 100%;
  top: 0;
  right: -100%;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.05);
  transition: right 0.4s ease-in-out;
}
.mobile-header.show {
  right: 0;
}
.mobile-header.hide {
  right: -100%;
}
.mobile-header li {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-title {
  height: 10%;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-title li {
  margin: 40px;
}
.mobile-header li {
  list-style: none;
  transition: all 0.3s ease;
}

.main-nav {
  border-top: 2px solid lightgray;
  margin: 0 50px;
  height: 80%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  border-bottom: 2px solid lightgray;
}

.main-nav li a {
  font-size: 20px;
}
#about-icon {
  position: relative;
}
#about-icon i {
  position: absolute;
  left: 0;
  color: white;
}

#home-icon {
  position: relative;
}
#home-icon i {
  position: absolute;
  left: 0;
  color: white;
}

#contact {
  position: relative;
}
#contact i {
  position: absolute;
  left: 0;
  color: white;
}
.social-links {
  margin: 15px;
}
.social-links a {
  margin: 0;
  padding: 10px;
}
.social-links i {
  color: white;
  font-size: 18px;
  transform: scale(0.8);
  position: relative;
}
/* @property --fill{
  syntax:'<percentage>';
  inherits: true;
  initial-value:0%;
} 
.social-links i::after{
  content: "";
  z-index: -1;
  position:absolute;
  inset: -3px;
  border-radius: 15px;
  background: conic-gradient(
red var(--fill), transparent var(--fill));
transition: --fill 0.1s ease-in-out;
} */
.social-links i:active {
  transform: scale(1);
  /* color:yellow;
  --fill:100%; */
}

#twitter:hover {
  color: #1da1f2;
}
#github:hover {
  color: black;
}
#instagram:hover {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  /* Also define standard property for compatibility */
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* change this to change the size*/
}
#facebook:hover {
  color: #1877f2;
}
.social-links-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
}
.social-links-nav i {
  color: white;
  padding: 5px;
  justify-content: space-between;
  font-size: 18px;
  position: relative;
}
#overlay {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  inset: 0;
  z-index: 9;
  display: none;
}
.main-nav li {
  opacity: 0.5;
  transform: scale(0.8);
  font-style: normal;
}
.main-nav li:active {
  opacity: 1;
  transform: scale(1);
  font-style: bold;
}
.main-nav:has(:active) :not(:active) {
  opacity: 0.5;
  transform: scale(0.8);
  font-style: normal;
}
.main-nav .active {
  opacity: 1;
  transform: scale(1);
  font-style: bold;
}
/*.main-nav:has(:hover) :not(:hover) {
  transform: scale(0.8);
  opacity: 0.5;
}*/
/* FOOTER */
footer {
  width: 100%;
  bottom: 0;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
footer h3 {
  text-align: center;
  margin: 5px;
  font-size: 15px;
  color:white;
}
footer h3:nth-child(3) {
  text-align: center;
  font-size: 15px;
  color: gray;
}
footer a {
  transform: scale(0.8);
}
footer i{
  font-size: 18px;
}
footer a:hover {
  transform: scale(1);
  color: #fd5949;
}


/* MAIN PAGE */
/* LANDING PAGE */
.landing-page {
  position: relative;
  color: #ffffff;
  align-items: center;
  width: 100%;
  display: flex;
  background-color: #fafaf7;
  /* background: rgba(255, 255, 255, 0); */
  flex-direction: column;
}
.landing-page span {
  margin: 40px;
  overflow: hidden;
  white-space: nowrap;
  color: black;
  width: 0;
  border-right: 2px solid white;
  font-size: 40px;
  animation: typing 1s ease-in forwards, blinking 1s infinite;
  /*animation: web-text 0.8s linear infinite alternate;
   animation: <animation-name> <duration> <timing-function> <delay> <iteration-count> <direction> <fill-mode> <play-state>;*/
}
.landing-page span:hover {
  color: tomato;
  border-color: tomato;
}
.landing-page img {
  border-radius: 40px;
  width: 300px;
  margin-bottom: 35px;
}
.landing-page img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.aboutme {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.aboutme h1 {
  padding: 10px;
  font-size: 40px;
  user-select: none;
}
.aboutme h1:nth-child(1){
  background-image: linear-gradient(#ff6347, #ff6347);
  transition: background-size 0.5s;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position-x: right;
}
.aboutme h1:hover {
  background-size: 100% 100%;
  background-position-x: left;
}
.aboutmetext {
  line-height: 1.3;
  margin: 10x;
  font-size: 18px;
  padding: 10px;
  overflow-y: auto;
  width: 90%;
  border: 2px solid grey;
  font-family:sans-serif;
}

.run button{
  user-select: none;
  padding: 10px 20px;
  margin: 20px;
  font-size: 20px;
  border-radius: 10px;
  outline: none;
  box-shadow: none;
  border: none;
  transition: all 0.3s ease;
}
.run button:hover{
  animation: upbutton 1s  ease;
  border-radius: 15px;
  background-color: #f52e1b;
  outline: none;
  box-shadow: none;
  border: none;
}
.run button:active{
  background-color: #fd5949;
  border-radius: 15px;
  outline: none;
  box-shadow: none;
  border: none;
  animation: rotatebutton 2s infinite ease;
}
.run button:focus{
  background-color: #f52e1b;
}
.coolinfo{
  display: none;
  border: 2px grey solid;
  margin: 10px;
  width: 80%;
}
.coolinfo span{
  font-size: 30px;
}
.coolinfo h2{
  margin: 10px;
  font-size: 30px;
  line-height: 2;
}
.coolinfo h2:nth-child(1){
  text-align: center;
}
.coolinfo h2:nth-child(2){
  text-align:center;
}
.coolinfo h2:nth-child(3){
  text-align: center;
}
.skills{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.skills i{
  font-size: 50px;
  margin: 10px;
}

/* CONTACT PAGE */
.contact-body {
  justify-content: center;
  align-items: center;
  display: flex;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form {
  backdrop-filter: blur(10px);
  font-family: "Jersey 15", serif;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 25px 15px 25px 15px;
  width: 330px;
  height: 100%;
  justify-content: center;
  align-items: center;
  animation: image-scale 0.3s linear alternate;
}
.form h1 {
  color: white;
  padding-top: 10px;
  font-size: 40px;
  text-align: center;
  transition: transform 0.5s;
}
.form h1:hover {
  transform: scale(1.1);
}
.input-box {
  width: 100%;
  height: 30px;
  margin: 6px;
  padding: 10px;
  position: relative;
}
.input-box input,
textarea {
  border: none;
  border: 2px solid rgba(255, 255, 255, 0.1);
  width: 75%;
  align-items: center;
  display: flex;
  margin-top:5px;
  margin-bottom:5px;
  margin-left: 18px;
  padding: 5px;
  outline: none;
  background: transparent;
  border-radius: 10px;
  color: white;
  transition: transform 0.5s;
}
.input-box textarea {
  padding-bottom: 30px;
  height:80%;
}

.input-box input:hover,
.input-box textarea:hover {
  transform: scale(1.2);
}
.input-box input:active,
.input-box textarea:active {
  transform: scale(1.2);
}
.input-box input:focus,
.input-box textarea:focus {
  transform: scale(1.2);
}
.input-box i {
  position: absolute;
  right: 42px;
  top: 50%;
  transform: translateY(-50%);
  color: white !important;
}
#textbox i {
  top: 100%;
}
.input-box input::placeholder,
.input-box textarea::placeholder {
  font-family: "Jersey 15", serif;
  color: white;
  font-size: 18px;
}
.form-buttons {
  font-family: "Jersey 15", serif;
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin: 30px 0px;
}
.form-buttons button,
a {
  border: none;
  border-radius: 10px;
  margin: 10px 35px;
  font-size: 20px;
  outline: none;
  color: white;
  padding: 5px;
  transition: transform 0.5s;
  background: transparent;
}
.form-buttons button:hover,
.form a:hover {
  transform: scale(1.2);
  background-color: #1b1212;
}

/* RESIZING */
/* mobile */
@media (max-width: 600px) {
  .hide-on-mobile {
    display: none;
  }
  .dsk-projects {
    display: none;
  }
}
/* tablets*/
@media (min-width: 601px) and (max-width: 768px) {
  .hide-on-mobile {
    display: none;
  }
  .dsk-projects {
    display: none;
  }
  .show-case img {
    scale: 0.6;
  }
}
/* laptops*/
@media (min-width: 769px) and (max-width: 1024px) {
  .hide-on-desktop {
    display: none;
  }
  .desktop-header {
    padding: 15px;
    border-radius: 0px;
    animation: none;
  }
  .desktop-header a {
    font-size: 25px;
  }
  .desktop-header span {
    font-size: 30px;
  }
  .landing-page {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    padding: 0;
    margin: 0;
    height: 470px;
    width: 100%;
  }
  .landing-page img {
    height: 400px;
    margin-top: 50px;
    margin-left: 0px;
    z-index: 10;
  }
  .landing-page span {
    font-size: 70px;
  }
  footer h3 {
    text-align: center;
    margin: 5px;
    font-size: 20px;
  }
  footer h3:nth-child(3) {
    text-align: center;
    font-size: 20px;
    color: gray;
  }
  .social-links i {
    font-size: 25px;
  }
  @keyframes border-scale {
    0% {
      border-radius: 0px 0px 50px 50px;
    }
    50% {
      border-radius: 0px 0px 0px 0px;
    }
    100% {
      border-radius: 0px 0px 50px 50px;
    }
  }
  .show-case {
    display: none;
  }

  .form {
    border-radius: 30px 20px 30px 20px;
    width: 400px;
  }
  .form h1 {
    padding-top: 20px;
    font-size: 50px;
  }
  .form h1:hover {
    transform: scale(1.2);
  }
  .input-box {
    height: 30px;
    margin: 8px;
    padding: 12px;
  }
  .input-box input,
  textarea {
    border: none;
    border: 3px solid rgba(255, 255, 255, 0.1);
    margin-left: 22px;
  }

  .input-box i {
    right: 50px;
  }
  .input-box input::placeholder,
  .input-box textarea::placeholder {
    font-size: 22px;
  }
  .form-buttons {
    margin: 40px 0px;
  }
  .form-buttons button,
  a {
    border-radius: 12px;
    margin: 10px 38px;
    font-size: 30px;
  }
  .form-buttons button:hover,
  .form a:hover {
    background-color: #1b1212;
  }
}
/* desktop */
@media (min-width: 1025px) {
  .hide-on-desktop {
    display: none;
  }
  .desktop-header {
    padding: 20px;
    border-radius: 0px;
    animation: none;
  }
  .desktop-header a {
    font-size: 30px;
  }
  .desktop-header span {
    font-size: 35px;
  }
  .landing-page {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    padding: 0;
    margin: 0;

    height: 500px;
    width: 100%;
  }
  .landing-page img {
    height: 400px;
    margin-top: 70px;
    margin-left: 0;
    z-index: 10;
  }
  .landing-page span {
    font-size: 80px;
  }
  footer h3 {
    text-align: center;
    margin: 5px;
    font-size: 25px;
  }
  footer h3:nth-child(3) {
    text-align: center;
    font-size: 25px;
    color: gray;
  }

  .social-links i {
    padding-top: 10px;
    font-size: 30px;
  }
  @keyframes border-scale {
    0% {
      border-radius: 0px 0px 50px 50px;
    }
    50% {
      border-radius: 0px 0px 0px 0px;
    }
    100% {
      border-radius: 0px 0px 50px 50px;
    }
  }
  .show-case {
    display: none;
  }

  .form {
    border-radius: 30px 20px 30px 20px;
    width: 400px;
  }
  .form h1 {
    padding-top: 20px;
    font-size: 50px;
  }
  .form h1:hover {
    transform: scale(1.2);
  }
  .input-box {
    height: 30px;
    margin: 8px;
    padding: 12px;
  }
  .input-box input,
  textarea {
    border: none;
    border: 3px solid rgba(255, 255, 255, 0.1);
    margin-left: 22px;
  }

  .input-box i {
    right: 50px;
  }
  .input-box input::placeholder,
  .input-box textarea::placeholder {
    font-size: 22px;
  }
  .form-buttons {
    margin: 40px 0px;
  }
  .form-buttons button,
  a {
    border-radius: 12px;
    margin: 10px 38px;
    font-size: 30px;
  }
  .form-buttons button:hover,
  .form a:hover {
    background-color: #1b1212;
  }
}
