/* Global CSS Variables */
:root {
    --primary-color: #2c3e50;
    --secondary-color: #ecf0f1;
    --accent-color: #3498db;
    --light-background: #ffffff;
    --dark-background: #2c3e50;
    --dark-text: #ecf0f1;
    --light-text: #333333;
    --transition-time: 0.3s;
    --button-radius: 25px;
}

/* Dark mode and light mode */
body.light-mode {
    background-color: var(--light-background);
    color: var(--light-text);
}

body.dark-mode {
    background-color: var(--dark-background);
    color: var(--dark-text);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
    transition: background-color var(--transition-time), color var(--transition-time);
}

header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 10px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: var(--secondary-color);
    padding: 10px 20px;
    border-radius: var(--button-radius);
    background-color: var(--accent-color);
    transition: background-color var(--transition-time);
}

nav ul li a:hover {
    background-color: #2980b9;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

footer {
    text-align: center;
    color: #777;
    background-color: var(--primary-color);
    padding: 10px;
    position: sticky;
    bottom: 0;
    width: 100%;
}

.toggle-btn {
    padding: 10px 20px;
    background-color: var(--accent-color);
    border: none;
    color: var(--secondary-color);
    border-radius: var(--button-radius);
    cursor: pointer;
    transition: background-color var(--transition-time);
}

.toggle-btn:hover {
    background-color: #2980b9;
}

/* Resume page - skills without dots */
ul {
    list-style: none;
}

.skills-list li {
    font-size: 1.2rem;
    animation: fadeIn 1.5s ease-out;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 2s ease-out;
    transition: transform 0.5s ease-out;
}

form:hover {
    transform: scale(1.05);
}

form input, form textarea, form button {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

form button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    cursor: pointer;
    transition: background-color var(--transition-time);
}

form button:hover {
    background-color: var(--accent-color);
}   

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
